<div class="scene">
  <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, consequuntur eos! Ea alias voluptatibus quisquam vitae. Vero nesciunt, pariatur doloremque voluptatibus, laboriosam consectetur, quidem cum necessitatibus quas sequi accusamus omnis.</p>
</div>